* {
  font-family: 'Inter', 'Inter Fallback';
  overflow-x: clip;
  line-height: 125%;
}

video {
  width: 560px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: larger;
  padding: 10px;
  background-color: #f3f3f3;
}

aside {
  position: sticky;
  height: 100vh;
  width: 10vw;
  padding: 12px;
  background: olive;
  color: #eee;
  ul li {
    padding: 12px 0;
    cursor: pointer;
  }
}

.banner h1 {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  line-height: 40vh;
  text-align: center;
  z-index: 2;
  font-size: 2rem;
  color: #eee;
  text-shadow: 0 0 4px rgb(187, 74, 17);
}

.banner {
  position: relative;
  height: 40vh;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 1rem;
}

.banner picture img {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

section {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.title {
  padding: 24px;
  background-color: #f3f3f3;
  width: 600px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}

.title small {
  color: #13ab67;
}

.title h3 {
  font-size: 24px;
  margin-top: 8px;
  line-height: 30px;
  color: #0c4129;
}

details {
  text-align: left;
  width: 600px;
  margin: 0 auto;
  cursor: pointer;
  list-style-position: inside;
  /* 啟用平滑過渡變化 */
  interpolate-size: allow-keywords;
}

details::details-content {
  /* Define the transition properties on the content container */
  transition:
    block-size 0.5s ease-in-out,
    opacity 0.5s ease;
  overflow: hidden;
  block-size: 0;
  opacity: 0;
}

details[open]::details-content {
  block-size: auto;
  opacity: 1;
}

details ul {
  margin-left: 50px;
  list-style: disc inside;
}

details p {
  margin-top: 20px;
}

summary {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  color: #3f3f42;
}

summary::marker {
  position: absolute;
  transform-origin: center;
  transform: rotate(90deg);
  color: #13ab67;
}

summary:hover {
  color: #13ab67;
}

.enroll-btn {
  background-color: #13ab67;
  color: white;
  border: none;
  padding: 11px 23px;
  line-height: 24px;
  margin-top: 40px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.sidebar-box {
  position: relative;
  display: flex;
  background: rgb(187, 74, 17);
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
}
.sidebar-box h3 {
  color: rgb(187, 74, 17);
  font-size: 2rem;
  font-weight: 600;
  background-color: bisque;
  width: 100%;
  padding: 1rem;
}
.cards-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  padding: 24px 0;
}
.card {
  width: 300px;
  background-color: aliceblue;
  border-radius: 4px;
  text-align: justify;
  h4 {
    font-size: 30px;
    font-weight: 600;
  }
  img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }
}
.card:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
}
.text-wrap {
  padding: 12px;
}
button {
  margin-top: 1rem;
  border-radius: 4px;
  background-color: #13ab67;
  padding: 8px;
  font-size: 20px;
  color: #f3f3f3;
  cursor: pointer;
}
