body {
  background-color: #212121;
}

section {
  max-width: 1200px;
  margin: 60px auto;
  text-align: center;
}

h2 {
  color: #f6f6f6;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.desc {
  color: #f6f6f6;
  margin-bottom: 24px;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
  }
}

.grid-wrap {
  display: grid;
  gap: 16px;
  padding: 16px 24px;
  grid-template-columns: repeat(5, 1fr);
}

.grid-item {
  background-color: #6d9886;
  padding: 16px;
  border-radius: 16px;

  h3 {
    font-size: 20px;
    font-weight: 700;
    color: #f6f6f6;
  }

  img {
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
  }
}

.grid-area-child {
  display: grid;
  grid-template-areas:
    'a a a a'
    'c c c b'
    'c c c b';
  height: 400px;
}

.grid-area-1 {
  grid-area: a;
  background-color: #d9cab3;
}

.grid-area-2 {
  grid-area: b;
  background-color: #6d9886;
}

.grid-area-3 {
  grid-area: c;
  background-color: #f6f6f6;
}

.grid-align,
.grid-build,
.grid-area,
.grid-build-2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* 全部一起對中間 */
  justify-content: center;
  /* 每行物件對行中間 */
  justify-items: center;
  align-items: center;
  border: 1px solid #d9cab3;
  height: 50vh;

  .box {
    width: 150px;
    height: 150px;
    border: 1px solid #6d9886;
    text-align: center;
    align-content: center;
    color: #f6f6f6;
  }

  .box3 {
    justify-self: right;
    align-self: flex-end;
    background-color: #6d9886;
  }
}

.grid-build {
  .box {
    width: 100%;
    height: 100%;
  }

  .box3 {
    /* 線段 */
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
}

.grid-area {
  .box {
    width: 100%;
    height: 100%;
  }

  .box3 {
    grid-area: 2 / 3 / 4 / 5;
  }
}

.grid-build-2 {
  .box {
    width: 100%;
    height: 100%;
  }

  .box3 {
    grid-column-start: span 4;
    /* grid-row-start: span 2; */
  }
}
